extends layout

block content
    hr
    br
    h1 Agregar Articulos
    form(action='/articles/add', method='POST')
        #form-group
            label Title:
            input.form-control(type="text", name='title')
        #form-group
            label Author:
            input.form-control(type="author", name='title')
        #form-group
            label Body:
            textarea.form-control(name='body')
        br
        input.btn.btn-primary(type="submit", value='Submit')