doctype html
html
    head
        title ServiHotel
        link(rel='stylesheet' href='/css/bootstrap.min.css')
    body
        header
            nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark
                a.navbar-brand(href='/employer/index_employer') EmployerServiHotel
                button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarsExampleDefault' aria-controls='navbarsExampleDefault' aria-expanded='false' aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarsExampleDefault.collapse.navbar-collapse
                    ul.navbar-nav.mr-auto
                        li.nav-item.active
                            a.nav-link(href='/employer/index_employer') Home 
                        li.nav-item
                            a.nav-link(href='/employer/table_employer_customer') Customers
                    form.form-inline.my-2.my-lg-0
                        input.form-control.mr-sm-2(type='text' placeholder='Search' aria-label='Search')
                        button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search
                    ul.nav.navbar-nav.navbar-right
                        li.nav-item
                            a.nav-link(href='/employer') Sign off
        .container
            block content
            br
            footer.container.py-5
                .row
                    .col-12.col-md
                        svg.d-block.mb-2(xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' role='img' viewbox='0 0 24 24' focusable='false')
                            title Product
                            circle(cx='12' cy='12' r='10')
                            path(d='M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94')
                        small.d-block.mb-3.text-muted &copy; 2019-2022
                    .col-6.col-md
                        h5 Features
                        ul.list-unstyled.text-small
                            li
                                a.text-muted(href='#') Cool stuff
                            li
                                a.text-muted(href='#') Random feature
                            li
                                a.text-muted(href='#') Team feature
                            li
                                a.text-muted(href='#') Stuff for developers
                            li
                                a.text-muted(href='#') Another one
                            li
                                a.text-muted(href='#') Last time
                    .col-6.col-md
                        h5 Resources
                        ul.list-unstyled.text-small
                            li
                                a.text-muted(href='#') Resource
                            li
                                a.text-muted(href='#') Resource name
                            li
                                a.text-muted(href='#') Another resource
                            li
                                a.text-muted(href='#') Final resource
                    .col-6.col-md
                        h5 Resources
                        ul.list-unstyled.text-small
                            li
                                a.text-muted(href='#') Business
                            li
                                a.text-muted(href='#') Education
                            li
                                a.text-muted(href='#') Government
                            li
                                a.text-muted(href='#') Gaming
                    .col-6.col-md
                        h5 About
                        ul.list-unstyled.text-small
                            li
                                a.text-muted(href='#') Team
                            li
                                a.text-muted(href='#') Locations
                            li
                                a.text-muted(href='#') Privacy
                            li
                                a.text-muted(href='#') Terms
    
        script(src='/js/jquery-3.4.1.min.js') 
        script(src='/js/popper.min.js')  
        script(src='/js/bootstrap.min.js')