extends layout_login_admin

block content
    hr
    br
    form.form-signin
        .col-lg-1.item.social
            include ../public/img/businessman.svg
        .text-center.mb-4
            h1.h3.mb-3.font-weight-normal Login Admin
            p Build form controls with floating labels via the code:placeholder-shown pseudo-element. 
                a Works in latest Chrome, Safari, and Firefox.
        .form-label-group
            label Username:
            input#inputEmail.form-control(type='email' placeholder='Email address')
        .form-label-group
            label Password:
            input.form-control(type='password' placeholder='Password')
        br
        button.btn.btn-lg.btn-primary.btn-block(type='submit' href='/admin/index_admin') Sign in