extends layout

block content
    hr
    br
    h1 Registro
    form(action='/users/register', method='POST')
        #form-group
            label Name:
            input.form-control(type="text", name='name')
        #form-group
            label Numero De Habitacion:
            input.form-control(type="number", name='email')
        #form-group
            label Email:
            input.form-control(type="text", name='email')
        #form-group
            label Username:
            input.form-control(type="text", name='username')
        #form-group
            label Password:
            input.form-control(type="password", name='password')
        br
        input.btn.btn-primary(type="submit", value='Submit')