extends layout_admin

block content
    body
        hr
        br
        h1 Tabla Employer
        table.table.table-dark
            thead
                tr
                    th(scope='col') #
                    th(scope='col') Num Room
                    th(scope='col') Asunto
                    th(scope='col') Descripcion
                    th(scope='col') Total
            tbody
                tr
                    th(scope='row') 1
                    td Mark
                    td Otto
                    td @mdo
                    td ortiz
                tr
                    th(scope='row') 2
                    td Jacob
                    td Thornton
                    td @fat
                    td the Bird
                tr
                    th(scope='row') 3
                    td Larry
                    td the Bird
                    td @twitter
                    td @twitter